.product-table {
    .table-header {
        th {
            padding: 5px;
        }
        background-color: lightgray;
    }

    .product-table-body {
        td {
            padding: 10px;
        }
        .odd {
            background-color: #e4dede;
        }
        .even {
            background-color: #e6f7fd;
        }
        .add-to-cart-btn {
            min-width: 150px;
            .info-btn {
                background: #0eb4eb none repeat scroll 0 0;
                color: #fff;
                font-size: 14px;
                font-weight: 700;
                padding: 4px 8px;
                display: inline-block;
                margin-right: 10px;
                text-align: center;
                border-radius: 0px;
                border: none;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .add-to-cart-btn {
        min-width: 100px;
    }
    .sidebar-div {
        display: none;
    }
    .table-class {
        padding-left: 30px;
        padding-right: 30px;
    }
}
